:root{
  --button-col1: #e31378;
  --button-col2: #652a80;
}

body {
  font-family: Arial;
  font-weight: 100;
  background-color: white;
}

h1{
  color: #e31378;
}

h2{
  color:#652a80;
}

strong{
  color:#652a80;
}

p{
  font-size: 18px;
}

button {
  background-color:var(--button-col1);
  color:var(--button-col2);
  border:1px solid var(--button-col1);
}
button:enabled:hover {
  background-color:white;
  color:var(--button-col1);
}

button.nextbtn {
  font-family: Arial;
  font-weight: 100;
  font-size: 30px;
  margin-top: 20px;
  padding-left:5px;
  padding-right:5px;
  height:35px;
  min-width: 300px;
}