/* GLOBAL */
/*purple: #652a80*/
/*pink: #e31378*/
/*magenta: #9b1750*/
/*red: #d31640*/

:root{
  --button-col1: #e31378;
  --button-col2: #652a80;
}

body {
  font-family: Arial;
  font-weight: 100;
  background-color: white;
}

h1{
  color: #e31378;
}

h2{
  color:#652a80;
}

strong{
  color:#652a80;
}

p{
  font-size: 18px;
}

#pages > div {
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:auto;
}

button {
  background-color:var(--button-col1);
  color:var(--button-col2);
  border:1px solid var(--button-col1);
}
button:enabled:hover {
  background-color:white;
  color:var(--button-col1);
}

button.nextbtn {
  font-family: Arial;
  font-weight: 100;
  font-size: 30px;
  margin-top: 20px;
  padding-left:5px;
  padding-right:5px;
  height:35px;
  min-width: 300px;
}

/* WELCOME PAGE */
#welcome_page {
  text-align: center;
}

.sol_logo{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 80%;
  max-height: 100%;
}

.header{
  min-width: 100%;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  background-color: red;
}
.row{
  height: inherit;
}
.column{
  float: left;
  position: relative;
  width: 100%;
  height: inherit;
}
div.column > img{
  float: left;
  /* max-height: 100%; */
  max-width: 100%;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

#welcome_page > h1 {
  font-family: Arial;
  font-weight: 300;
  font-size:60px;
  margin-bottom: 100px;
}

#welcome_text_wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

#welcome_body{
  text-align: left;
}

#welcome_video_div{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#welcome_video{
  max-width: 100%;
}

#welcome_footer{
  width: 100%;
  height: 100px;
  text-align: center;
}

.logo_set_wrap{
  height: 100%;
  width: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.logo_wrap{
  display: inline-block;
  width: 20%;
  height: 100%;
  /*  margin: auto;*/
}

div.logo_wrap > img{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
/***********************************/

/* RECORDING PAGE */
#recording_page {
  text-align:center;
  padding-bottom: 4%;
}

#p5canvas{
  z-index: -1;
  position: absolute;
}


#recorder_wrapper:empty {
  border:1px dashed #ccc;
  background: dotted #ccc;
  display: block;
  width:300px;
  height:300px;
  margin-right:auto;
  margin-left:auto;
}

.provocation_text{
  text-align: left;
}

#lyrics_form{
  width: 350px;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
}

#lyrics_textarea{
  min-width: 100%;
  height:40px;
}

.recorder_body{
  width:350px;
  margin-right:auto;
  margin-left:auto;
}

.recorderButton{
  width: 100%;
  height: 33%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right:auto;
  margin-left:auto;
  font-size: 30px;
}
.recorderButton:disabled {
  color:#999999;
  background-color:#333333;

}

#uploadLabel{
  background-color:var(--button-col1);
  color:var(--button-col2);
  border:1px solid var(--button-col1);
  padding: 0px 35px 0px 35px;
}
#uploadLabel:hover{
  background-color:white;
  color:var(--button-col1);
}

#media_uploads_body{
  width: 350px;
  margin-right:auto;
  margin-left:auto;
}

#uploadFileButton{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}



.img_display_wrapper{
  width: 100%;
  height: 150px;
  padding: 2px;
}

.img_display_img{
  max-height: 100%;
}
/***********************************/

/* THANK YOU PAGE */
#thank_you_page{
  padding-bottom: 10%;
}

#thank_you_page_text_wrapper {
  margin-left:10%;
  margin-right:10%;
}

#thank_you_titles{
  text-align: center;
}

#thank_you_body{
  text-align: left;
}

#form_wrap{
  text-align: left;
  /* background-color: grey; */
  width: 100%;
}
input{
  width: 30%;
  margin:5px 0;
}
/***********************************/
