/* GLOBAL */
/*purple: #652a80*/
/*pink: #e31378*/
/*magenta: #9b1750*/
/*red: #d31640*/

:root{
  --button-col1: #e31378;
  --button-col2: #652a80;
}

body {
  font-family: Arial;
  font-weight: 100;
  background-color: white;
}

h1{
  color: #e31378;
}

h2{
  color:#652a80;
}

strong{
  color:#652a80;
}

#pages > div {
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:auto;
}

button {
  background-color:var(--button-col1);
  color:var(--button-col2);
  border:1px solid var(--button-col1);
}
button:enabled:hover {
  background-color:white;
  color:var(--button-col1);
}

button.nextbtn {
  font-family: Arial;
  font-weight: 100;
  font-size: 30px;
  margin-top: 20px;
  padding-left:60px;
  padding-right:60px;
  height:35px;
}

/* WELCOME PAGE */
#welcome_page {
  text-align: center;
  /* margin-top:10%; */
}

#welcome_header{
  width: 100%;
  height: 100px;
}
.column{
  float: left;
  width: 25%;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

#welcome_page > h1 {
  font-family: Arial;
  font-weight: 200;
  font-size:60px;
  margin-bottom: 100px;
}

#welcome_text_wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

#welcome_body{
  text-align: left;
}

#welcome_footer{
  width: 100%;
  height: 100px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.logo_set_wrap{
  height: 100%;
  float: left;
  width: 60%;
  margin-top: 5%;
}

.logo_wrap{
  float: left;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: auto;
}

div > img{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
/***********************************/

/* RECORDING PAGE */
#recording_page {
  text-align:center;
  margin-top:10%;
}



#recorder_wrapper:empty {
  border:1px dashed #ccc;
  background: dotted #ccc;
  display: block;
  width:300px;
  height:300px;
  margin-right:auto;
  margin-left:auto;
}


.recorder_body{
  width:300px;
  margin-right:auto;
  margin-left:auto;
}

.recorderButton{
  width: 100%;
  height: 33%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right:auto;
  margin-left:auto;
  font-size: 30px;
}
.recorderButton:disabled {
  color:#999999;
  background-color:#333333;

}
/***********************************/

/* THANK YOU PAGE */
#thank_you_page {
  text-align:center;
  margin-top:10%;
  margin-left:10%;
  margin-right:10%;
}

#thank_you_body{
  text-align: left;
}

#form_wrap{
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  /* background-color: grey; */
  width: 100%;
}
input{
  width: 90%;
  margin:5px 0;
}
/***********************************/
